body,
html {
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    flex-wrap: wrap;
}

.inner {
    width: 100%;
    margin-bottom: 30px;
    font-size: 20px;
}

.cash,
.customers {
    font-size: 30px;
}